body{
    background-image: url("../resources/fondos/bang.png");
    background-repeat: no-repeat;
	background-size: cover;
}

.contenedor_pez, #contenedor_gay{
    position:absolute;
}

.contenedor_pez p, #contenedor_gay p{
    text-align: center;
    position: relative;
    top:-30px;
    font-size: 20px;
    color: rgb(52, 24, 4);
    text-shadow: 10px 10px 5px rgb(129, 111, 70);
}

.pez, #pez_gay{
    width:120px;
    height:auto;
    z-index: 1;
    filter: drop-shadow(10px 10px 5px rgb(129, 111, 70));
}

#pez_gay{
    width:50px;
    -webkit-animation-name: thread;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: up;
	-webkit-animation-timing-function:linear;
}

#pecera, #bordePecera{
    margin:auto;
    margin-top: 20px;
    height: 400px;
    width: 70%;
    z-index: 1;
    top:20px;
    left:10%;
    position: absolute;
    border: 50px solid #5a5746;
    background-image: url("../resources/fondos/barco.png");
    background-repeat: no-repeat;
	background-size: cover;
    /* outline-offset: -50px; */
}

#bordePecera{
    z-index: 4;
    border-image: url(../resources/bordes/borde1.png) 300 round;
    user-select: none;
    pointer-events: none;
    background-image: none;
}

#Old_Hobson{
    position: absolute;
    height: 180px;
    width: 200px;
    top:380px;
    left:6%;
    z-index: 5;
    background-image: url("../resources/peces/Old_Hobson.png");
    background-repeat: none;
    background-size: contain;
}

#Old_Hobson a{
    font-size: 36px;
    display: block;
    text-align: center;
    margin-top:50%;
}

.kelp{
    position: absolute;
    width:200px;
    z-index:3;
    top:275px;
    pointer-events: none;
}

#modal{
    position: absolute;
    height: 60%;
    width: 60%;
    z-index: 10;
    top:20%;
    left:20%;
}


@-webkit-keyframes thread {
    0% {
        transform:translate(-10px,0px);
    }
    10%{
        transform:translate(10px,-10px);
    }
    20%{
        transform:translate(-10px,-15px);
    }
    30%{
        transform:translate(10px,-20px);
    }
    40%{
        transform:translate(-10px,-25px);
    }
    50%{
        transform:translate(10px,-30px);
    }
    60%{
        transform:translate(-10px,-25px);
    }
    70%{
        transform:translate(10px,-20px);
    }
    80%{
        transform:translate(-10px,-15px);
    }
    90%{
        transform:translate(10px,-10px);
    }
    100% {
        transform:translate(-10px,0px);
    }
}